<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>원주시 스마트 쓰레기통 지도 파일 다운로드</title>
    <!-- 카카오 지도 api -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= apiKey %>"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
		body {
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.6;
		}
        .btn_menu {
            background-color: #000000;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
          }
          
          .btn_menu:hover {
            background-color: #aca8a8;
            color: #ffffff;
          }
	
		.btn_down {
			background-color: #a8a2a2;
			color: white;
			padding: 5px 16px;
			margin-right: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
		}
	
		.btn_down:hover {
			background-color: #504e4e;
		}
        
        table {
            border-collapse: collapse;
          } 
          td {
            padding: 10px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
          
          td:first-child {
            border-left: 1px solid black;
          }
          
          td:last-child {
            border-right: 1px solid black;
          }
          td:nth-child(1) {
            width: 500px; /* td 너비 */
          }
	</style>
</head>
<body onload="sendGetRequest()">
	<div id="logo">
		<a href="http://aitong.kro.kr/"><img src="로고.JPG" alt="로고"  width="230" height="60" /></a>
        <h2>쓰레기통 정보 파일 다운로드</h2>
	    <p>원주시 동별 쓰레기통에 대한 상세정보를 제공합니다.<br>
            파일을 다운로드하시면 실시간으로 업데이트된 정보를 받아볼 수 있습니다.<br>
            다운로드하실 파일을 선택해주세요.<br>
            원하는 동으로 빠르게 이동하고 싶다면, 아래 버튼 중 해당 동을 클릭해주세요.<br>
        </p>
        <button class="btn_menu" button onclick="location.href='#원주시'">원주시</button>
        <button class="btn_menu" button onclick="location.href='#무실동'">무실동</button>
        <button class="btn_menu" button onclick="location.href='#단구동'">단구동</button>
        <button class="btn_menu" button onclick="location.href='#흥업면'">흥업면</button>
        <br><br>
        <table id="원주시">
            <tr>
                <td>원주시 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/list/all'">Download</button></td>
            </tr>
            <tr>
                <td>원주시 포화 상태 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/full/all'">Download</button></td>
            </tr>
            <tr>
                <td>원주시 1주일 이상 관리되지 않은 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/old/all'">Download</button></td>
            </tr>
        </table><br>
        <table id="무실동">
            <tr>
                <td>무실동 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/list/무실동'">Download</button></td>
            </tr>
            <tr>
                <td>무실동 포화 상태 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/full/무실동'">Download</button></td>
            </tr>
            <tr>
                <td>무실동 1주일 이상 관리되지 않은 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/old/무실동'">Download</button></td>
            </tr>
        </table><br>
        <table id="단구동">
            <tr>
                <td>단구동 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/list/단구동'">Download</button></td>
            </tr>
            <tr>
                <td>단구동 포화 상태 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/full/단구동'">Download</button></td>
            </tr>
            <tr>
                <td>단구동 1주일 이상 관리되지 않은 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/old/단구동'">Download</button></td>
            </tr>
        </table><br>
        <table id="흥업면">
            <tr>
                <td>흥업면 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/list/흥업면'">Download</button></td>
            </tr>
            <tr>
                <td>흥업면 포화 상태 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/full/흥업면'">Download</button></td>
            </tr>
            <tr>
                <td>흥업면 1주일 이상 관리되지 않은 쓰레기통.xlsx</td>
                <td><button class="btn_down" onclick="location.href='https://aitong.kro.kr/file/old/흥업면'">Download</button></td>
            </tr>
        </table><br>
</body>
</html>
